li{list-style: none;}
body{background-color: black;}
.carousel-inner{width: 850px; height: 600px; position: relative; left: 120px;}
.bmg{color: blueviolet; position: relative; left: 230px;}
.foot{color: gold; position: relative; left: 185px;}
.pcg{color: red;}
.especificaciones{color: aliceblue;}
